body{
    background-color: #111e4a;
    align-content: center;  
  
}

h1, h2, h3{
    font-size: xx-large;
    color: white;
    text-align: center;
}


.container {
  height: 20px;
  position: relative;
  padding: 20px;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#web3_message{
    color: white;
    text-align: center;
}
#my_nfts, #my_listings, #all_listings{    
    color: white;
    left: 40%;    
    position:relative;
    
}
.button-is-primary{
    background-color: #12b8e5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: rgb(240, 240, 240);   
    font-size: 20px;
    
}